<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css/index.css}">
</head>
<body>
<h3 id="title">welcome, <span th:text="${name}"></span></h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Onions</td>
        <td th:text="${user.name}">2.41</td>
    </tr>
</table>

<div th:each="user: ${users}">
    <span th:text="${user.id}"></span>
    <span th:text="${user.name}"></span>

</div>

</body>
</html>